<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <nav>
        <a class="title">W16</a>
        <a href="#" class="link">Home</a>
        <a href="#" class="link">About</a>
        <a href="#" class="link">SignIn</a>
        <a href="#" class="link">Contact</a>
    </nav>
