<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <nav>
        <a class="title" style="text-decoration: none;" href="https://w16manik.ninja" target="_blank">W16</a>
        <a href="/contact" class="link">Contact</a>
        <a href="/register" class="link">Register</a>
        <a href="/signin" class="link">SignIn</a>
        <a href="/home" class="link">Home</a>
    </nav>
