<%- include("head.ejs") %>
<main>
    <div class="banner">
        <span class="left-swipe swipe"><</span>

        <span class="right-swipe swipe">></span>
    </div>

    <h1 class="head">Posts</h1>
    <h2 class="head"><%= joke %> </h2>


    <div class="posts-section"></div>
</main>

<%- include("bottom.ejs") %>


