<%- include("head.ejs") %>
<main>      
    <div class="posts-section">
        <h1 class="head">Add Post</h1>
            <form class="addForm" method="post" action="/post">
                    <label for="title">Title:</label>
                    <input class="inputField" type="text" id="title" name="title" maxlength="50" /> 

                    <label for="content">Content:</label>
                    <textarea class="inputField" id="content" name="content" maxlength="200"></textarea> 

                    <label for="author">Author:</label>
                    <input class="inputField" type="text" id="author" name="author" maxlength="30"/> 

                    <label for="date">Date:</label>
                    <input class="inputField" type="text" id="date" name="date" maxlength="40" />
                    <button class="form-input post-button" type="submit">Post</button>
            </form>
    </div>
</main>

<%- include("bottom.ejs") %>


