body {
    margin: 0px;
    padding: 0px;
}

nav {
    border: 1px solid black;
    overflow: hidden;
    background-color: #333;
    padding-bottom: 1.2%;
    height: 60px;
}

nav a {
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 2em;
    height: 100%;
}

nav .link:hover {
    background-color: #ddd;
    color: black;
}

.title {
    float: left;
}

/*
 =========================================
BELOW IS FOR HOME.EJS 
 =========================================
 */

 .banner {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    position: relative;
    width: 100%;
    padding-bottom: 40%;
    background-color: #eee;
 }

 .head {
    display: flex;
    justify-content: center;
 }

 .swipe {
    display: inline-block;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    color: #eee;
    background-color: #333;
    border-radius: 3px;
}

.left-swipe {
    position: absolute;
    left: 0;
}

.right-swipe {
    position: absolute;
    right: 0;
}


/*
 =========================================
BELOW IS FOR Bottom.EJS 
 =========================================
 */

.bottom-section {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    border: 1px solid black;
    color: white;
    overflow: hidden;
    background-color: #333;
    padding-bottom: 1.2%;
    height: 60px;
}